.details-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.subjects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}




.personal-details {
    background-color: goldenrod;
}