.details-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.subjects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

/* 
@media screen and (max-width:1100px) {
    .subjects-container {
        grid-template-columns: repeat(2, 1fr);
    }
} */


.personal-details {
    background-color: goldenrod;

}

/* .personal-details {
    position: sticky;
    top: 0;

} */