.subject {
    width: 300px;
    border: 1px solid #95A0A7;
    border-radius: 8px;

}

.subject img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.btn-select {
    width: 100%;
    background-color: chartreuse;
    border: 0;
    border-radius: 8px;
}

.btn-select:hover {
    background-color: orange;
}